.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}

.footerContainer{
    text-align: center;
    position: relative;
    top: 28vh;
    color: white;
    padding-bottom: 1rem;
}